<div class="container">
  <br>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span>
        <i class="fas fa-clock"></i> Recientes
      </span>
      <span>
        Todo
      </span>
    </div>
    <div class="card-body">
      <ul class="notifications" *ngFor="let notification of notifications">
        <div class="row  justify-content-around" >
          <div class="col-10">
            <li class="notification">
              <a href="" style="text-decoration:none;color:inherit " routerLink="/view-notification/233323">
                <div class="media">
                  <div class="media-body">
                    <strong class="notification-title">{{notification.title}}</strong>
                    <p class="notification-desc">{{notification.description}}</p>
                    <div class="notification-meta">
                      <small class="timestamp">{{notification.date}}</small>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </div>
          <div class="col-2 d-flex align-items-center">
            <div class="btn-group">
                <span >
                  <i class=" icon-ellipsis fas fa-ellipsis-v"></i>
                </span>
              </div>
          </div>
        </div>
        <hr>
      </ul>
    </div>
  </div>