<div class="navbar color-principal d-flex justify-content-between">
  <li class="nav-item title-header d-flex align-items-center p-2">
    <strong>
      Notificaciones
    </strong>
  </li>
  <li class="search-icon">
    <strong class="btn-hide-search">
      <span class="fas fa-times"></span>
    </strong>
    <strong class="btn-show-search">
      <span class="fas fa-search"> </span>
    </strong>
  </li>
</div>
<div class="principal p4 panel-card container-principal">
  <!-- Search -->
  <div class="input-group mb-3" id="search-filter">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ver
        por
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Text input with dropdown button">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="fas fa-search"></span>
      </button>
    </span>
  </div>
  <!-- End Search -->

  <!-- Recents -->
  <label *ngIf="notifications.length > 0" class="m-1 pl-3 recent-info-mobile" for="">
    Recientes
  </label>
  <!-- End Recents -->

  <!-- Button trigger modal -->

  <!-- body Items Notifications -->
  <div>
    <div class="email-wrap">
      <div class="scroll">
        <div *ngIf="notifications.length == 0" class="pt-5">
          <div class="d-flex justify-content-center">
            <h1>
              <i class="fas fa-bell"></i>
            </h1>
          </div><br>
          <div class="d-flex justify-content-center">
            <label class="not-notifications">No hay notificaciones nuevas</label>
          </div>
        </div>
        <div class="email-list ">
          <div class="email-item mb-1 card" *ngFor="let notification of notifications | slice:0:cantShowItem">
            <div [ngClass]="{'viwed-notification': notification.status ==  '0' }">
                <!-- selectOptionView(notification.id) -->
              <a  (click)="updateNotificationView(notification);selectOptionView(notification.id)" style="text-decoration:none;color:inherit ">
                <h4 class="email-item__from"> {{notification.title}}
                </h4><span class="email-item__datetime"> {{notification.send_date | date : 'short'}}</span>
              </a>
              <!-- <div> -->
              <a (click)="updateNotificationView(notification);selectOptionView(notification.id)" style="text-decoration:none;color:inherit">
                <div>
                  <p class="email-item__subject"><strong> {{notification.subTitle}}</strong></p>
                  <p class="email-item__intro">{{notification.description}}</p>
                </div>
              </a>
              <div class="option-notification d-flex justify-content-end">
                <div class="btn-group icon-ellipsis">
                  <div class="btn-group dropleft">
                    <span class="show-menu" data-toggle="dropdown" style="cursor:pointer" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </span>
                    <div class="dropdown-menu z-index-modified" style="z-index:1000;">
                      <a class="dropdown-item hover-red" (click)="deleteNotification(notification)"><i class="far fa-trash-alt color-principal-btn"></i>
                        Eliminar
                        <br>
                        <small>Elimina esta notificación de tu buzón</small>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item hover-success" (click)="archiverNotification()" href=""><i class="fas fa-archive color-principal-btn"></i>
                        Archivar
                        <br>
                        <small>Archiva esta notificación</small>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="circle-new-notification">
                <small>
                  <i *ngIf="notification.status ==  '0'" class="color-sec fas fa-circle"></i>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="email-view">
        <div *ngIf="idEndNotification && visible_notification">
          <app-view-notification *ngIf="idEndNotification" [idViewNotification]="idEndNotification"></app-view-notification>
        </div>
        <div *ngIf="!idEndNotification">
          No hay notificaciones
        </div>
      </div>
    </div>
  </div>
  <!-- End body Items Notifications -->


</div>


<!-- <div class="wrap-principal">
  <div class="principal p4 panel-card container-principal">


    <div class="" id="card-principal">
      <div class="card-header title-desktop" id="panel">
        Recientes
      </div>
      <div id="card-desktop">
        <div class="row">
          <div class="pt-1 col-12 col-md-5" *ngIf="notifications">
            <div class="card item-notification mb-1" *ngFor="let notification of notifications | slice:0:cantShowItem">
              <div class="card-body" [ngClass]="{'viwed-notification': notification.viewed == 'true' }">
              <div class="card-body" [ngClass]="{'viwed-notification': notification.status ==  '0' }">
                <div class="media-body">
                  <div class="row">
                    <div class="col-9 col-md-6 align-items-center">
                      <a href="" (click)="updateNotificationView(notification)" style="text-decoration:none;color:inherit " routerLink="/view-notification/{{notification.id}}">
                        <strong class="notification-title ">
                          <i *ngIf="notification.status ==  '1'" class="color-principal-btn fas fa-check"></i>
                          <i *ngIf="notification.status ==  '0'" class="color-sec fas fa-circle"></i>
                          {{notification.title}}
                        </strong>
                        <footer class=" blockquote-footer p-1">{{notification.description}}</footer>
                        <div class="card" *ngIf="notification.multimedia">
                          <div class="card-body container-multimedia">
                            <div class="row">
                              <div class="col-8">
                                <div class="d-flex justify-content-center">
                                  <img class="img-responsive" width="100%" height="100%" *ngIf="notification.multimedia" src="{{notification.multimedia}}"
                                    alt="">
                                </div>
                              </div>
                              <div class="col-4">
                                <small>Text description</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-3 col-md-6">
                      <div class="d-flex justify-content-end">
                        <div class="btn-group icon-ellipsis">
                          <div class="btn-group dropleft">
                            <span class="drop-ellipsis" data-toggle="dropdown" style="cursor:pointer" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-h"></i>
                            </span>
                            <div class="dropdown-menu z-index-modified">
                              <a class="dropdown-item hover-red" (click)="deleteNotification(notification)"><i class="far fa-trash-alt color-principal-btn"></i>
                                Eliminar
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item hover-success" (click)="archiverNotification()" href=""><i class="fas fa-archive color-principal-btn"></i>
                                Archivar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end  align-items-end">
                        <small class="timestamp"> {{notification.send_date | date : 'short'}}
                        </small>
                      </div>
                      <div class="btn-group   btn-notifications-desk">
                        <div class="d-flex justify-content-end">
                          <button type="button" data-toggle="tooltip" data-placement="top" title="Toque para archivar" class="btn btn-light mr-1"><i
                              class="fas fa-archive color-principal"></i> Archivar</button>
                          <button type="button" data-toggle="tooltip" data-placement="top" title="Toque para eliminar" class="btn btn-light mr-1"><i
                              class="far fa-trash-alt color-principal"></i> Eliminar</button>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hr-vertical"></div>
          <div class="col-md-6 view-active ">
            <app-view-notification *ngIf="idEndNotification" [idViewNotification]="idEndNotification"></app-view-notification>
          </div>
          <div class="col-md-12">
            <div *ngIf="notifications.length == 0" class="pt-5">
              <div class="d-flex justify-content-center">
                <h1>
                  <i class="fas fa-bell"></i>
                </h1>
              </div><br>
              <div class="d-flex justify-content-center">
                <label class="not-notifications">No hay notificaciones nuevas</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->