
.wrap-principal{
    height: 100%;
    background-color: #f5f5f5
}

.notifications{
    padding-left: 0px;
}
.notifications:hover{
    background-color:  #F5F4F4;
}
.principal{
    z-index: -2 !important;
    height: 100% !important;
}
.p4{
    padding-top: 4em;
}
.m1{
    margin: 1rem;
}

.notification{
    list-style: none;
    margin-left: 0px;
}
.notification:hover{
    /* background-color:  #DEEDF2; */
}

.hover-red:hover{
    color:#EC0000;
}
.color-red{
    background-color: #Ec0000;
    color: white;
}
.color-principal{
    color: #Ec0000;
}
/* .container-principal{
    background-color: #ebebebb8;
    min-height: 1000%;
    max-width: 100%;
} */
.color-sec{
    color: #3366FF;
}
.hover-success:hover{
    color: green;
}

.btn-notifications-desk{
    display: none;
}
.notification-title{
    font-size: 92% !important;
}
.z-index-modified{
    z-index: 1;
}
.view-active{
    display: none;
}

@media (max-width: 350px) {
    .timestamp{
        font-size: 70%;
    }
} 

.title-desktop{
    display: none !important;
}

@media (min-width: 768px) {
    .title-desktop{
        display: block !important;
    }
    .view-active{
        display: block;
    } 
    .icon-ellipsis{
        display: none;
    }

    .panel-card{
        margin: 4rem !important;
    }
    .recent-info-mobile{
        display: none;
    }
    .panel-card{
        margin: 1rem !important
    }
    .hr-vertical{
        /* border:         none; */
        border-left:    .1px solid;
        /* height:         100vh; */
        width:          1px;     
    }
    .btn-notifications-desk{
        /* display: block; */
    }
    .showMoreItems{
        display: none !important;
    }
    .notification-title{
        font-size: 100% !important;
    }
 }

.principal{
    -webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.7s; /* Firefox < 16 */
        -ms-animation: fadein 0.7s; /* Internet Explorer */
         -o-animation: fadein 0.7s; /* Opera < 12.1 */
            animation: fadein 0.7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.show-more {
    display: block;
    border: 2px solid  #C3DEE7 ;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .arrows {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .show-more-button {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    color:  #C3DEE7 ;
    text-align: center;
  }
  .show-more-button:hover .arrow {
    top: 70px;
    transition: top 0.3s ease-in-out;
  }
  .show-more-button:hover .arrow-hidden {
    top: 12px;
    transition: top 0.3s ease-in-out;
  }
  .show-more-button .arrow,
  .show-more-button .arrow-hidden {
    width: 2px;
    height: 25px;
    background:  #C3DEE7 ;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 24px;
    transition: top 0.3s ease-in-out;
  }
  .show-more-button .arrow:before,
  .show-more-button .arrow-hidden:before {
    content: "";
    width: 2px;
    height: 15px;
    display: block;
    background:  #C3DEE7 ;
    position: absolute;
    transform: rotate(45deg);
    bottom: 0;
    right: -6px;
    bottom: -1px;
  }
  .show-more-button .arrow:after,
  .show-more-button .arrow-hidden:after {
    content: "";
    width: 2px;
    height: 15px;
    display: block;
    background:  #C3DEE7 ;
    position: absolute;
    transform: rotate(135deg);
    bottom: -1px;
    left: -6px;
  }
  .show-more-button .arrow-hidden {
    top: -80px;
  }
  .show-more-text {
    margin-top: 10px;
    display: block;
    font-weight: 600;
  }

  .filter {
    float: left;
    /* width: 75%; */
    padding-left: 2.5em;
  }
  .filter .m {
    color: #5d7592;
    position: absolute;
    margin-left: -1.25em;
  }
  .filter input {
    width: 100%;
    vertical-align: top;
    height: 2em;
    border: none;
    background: #f9fcfe;
    font-size: 16px;
    font-weight: 300;
    color: #5d7592;
    outline: none;
    padding: 0 0.5em;
  }

  .message-no-notifications{
      padding-top: 5rem;
      padding-bottom: 5rem;
      justify-content: center !important;
  }
  .borderNone{
      background-color: red !important;
      border: 0px !important;
  }
  .color-menu-item{
      color: #6F7779
  }
  

.item-notification{
    /* margin-bottom: 0.5rem;
    cursor: pointer;
    opacity: 0.4; */
    /* background: Lighten(#c8e3f5, 8%); */
    /* background-color:  #c8e3f5; */
    /* opacity: 0.8; */


    /* background: #ebf5fb; */
    /* opacity: 0.7; */
    cursor: pointer;
    border-radius: 0px;
}
.item-notification:hover{
    opacity: 0.8;
    /* background-color: #C3DEE7   */
}
.viwed-notification{
    border-top: .2rem solid #1BB3BC;
    box-shadow: .5px 2px 5px gray;
}
.drop-ellipsis{
    padding: .5rem;
}
.multimedia-notification{
    max-width: 100%;
    width: 100%
}
.container-multimedia{
    padding: 0.3rem !important;
}
.card-body{
    /* padding: .3rem !important;  */
}

.not-notifications{
    font-family: 'Oxygen', sans-serif;
}