<!-- <div class="container-wrap color-wrap">
  <div class="card pt-5 card-view-notification">
  <div class="card" *ngIf="notification">
    <div class="card-body">

      <div class="row padding ">
        <div class="col 12 back-notifications">
          <br>
          <a href="" routerLink="/list-notifications">
            <span class="back-to">
              <i style="color:red" class="fas fa-arrow-left"></i>
              Ver notificaciones
            </span>
          </a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col 12">
          <h5><strong>{{notification.title}} </strong></h5>
          <label for="">{{notification.subTitle}}</label>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col 12">
          <label>
            {{notification.description}}
          </label>
        </div>
      </div>
      </div>
    </div>
  </div>
</div> -->

<div class="navbar color-principal">
  <a>
    <li class="nav-item title-header d-flex align-items-center p-2">
      <strong>
        <a href="" routerLink="/list-notifications">
          <i class="fas fa-angle-left"></i>
          Volver
        </a>
      </strong>
    </li>
  </a>
</div>

<!-- <div class="card padding-mobile container-wrap">
  <div class="card-header" *ngIf="notification">
    <div class="d-flex justify-content-between">
      <div> {{notification.title}} </div>
      <div> btn Eliminar</div>
    </div>
    <div class="d-flex justify-content-between">
      <div> {{notification.subTitle}} </div>
      <div> {{notification.send_date | date:'short'}}</div>
    </div>
  </div>
  <div class="card-body">
    {{notification.description}}
  </div>
</div> -->
<div *ngIf="notificationView">
  <app-loader></app-loader>
</div>
<div class="padding-mobile container-wrap" *ngIf="!notificationView">
  <div class="d-flex justify-content-end">
    <span><i class="far fa-clock"></i></span>
    <p class="date"> {{notification.send_date | date:'medium'}}</p>
  </div>
  <h4 class="headline">{{notification.title}}</h4>
  <div class="grid">
    <div class="width-12/12 width-7/12@m">
      <div class="card" id="thing">
        <div class="card__header">
          <div class="card__caption">
            <h2 class="card__title">{{notification.subTitle}}</h2>
            <h3 class="card__sub-title">{{notification.description}}</h3>
            <div *ngIf="notification.multimedia">
              <img src="{{notification.multimedia}}" class="responsive img-thumbnail" alt="">
            </div>
          </div>
        </div>
        <div class="card__body">
          <div class="card__text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>