<div class="container-wrap color-wrap">
  <!-- <div class="card pt-5 card-view-notification"> -->
  <div class="card" *ngIf="notification">
    <div class="card-body">

      <div class="row p4">
        <div class="col 12">
          <br>
          <a href="" routerLink="/list-notifications">
            <span class="back-to">
              <i style="color:red" class="fas fa-arrow-left"></i>
              Ver notificaciones
            </span>
          </a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col 12">
          <h5><strong>{{notification.title}} </strong></h5>
          <label for="">{{notification.subTitle}}</label>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col 12">
          <label>
            {{notification.description}}
          </label>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>